#singleCarSection{
    min-height: 100vh;
    position: relative;

    .container{
        height: 100%;
    }

    .singleCarSection__box{
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        flex-wrap: wrap;
        gap: 20px;
        height: 100%;
    
        &__info{
            width: 65%;
            display: flex;
            flex-direction: column;
            // flex: 1;
        }
    
    }

    ul{
        list-style:disc;
        li{
            list-style:disc;
        }
    }

    .singleCarSectionBG-left{
        width: 70%;
        height: 60%;
        position: absolute;
        left: -110px;
        z-index: -10;
        bottom: 0px;
        background: url('../../../../public/images/Ellipse\ 1\ \(1\).svg') center/contain no-repeat;
    }

    .singleCarSectionBG-right{
        width: 55%;
        height: 55%;
        position: absolute;
        right: 0;
        z-index: -10;
        top: -100px;
        background: url('../../../../public/images/bg.svg') center/contain no-repeat;
    }
    
}

