@media screen and (max-width: 1050px) {
    #carList{

        .container{
            
            .carList__box{
                row-gap: 50px;

                .carCard{
                    height: 350px;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    #carList{
        min-height: 90vh;

        .container{
            
            .carList__box{

                .carCard{
                    height: 330px;

                    img{
                        width: 90%;;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    #carList{
    
        .container{
            
            .carList__box{
                column-gap: 10%;

                .carCard{
                    height: 330px;
                    width: 45%;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    #carList{
        min-height: 70vh;
    
        .container{
            
            .carList__box{
                justify-content: center;

                .swiper-slide{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .carCard{
                    height: 480px;
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    #carList{
        min-height: 55vh;
    
        .container{
            
            .carList__box{
                .carCard{
                    height: 400px;
                    width: 90%;
                }
            }
        }
    }
}
