header {
    height: 120px;
    width: 100%;
    box-shadow: 0 0px 3px;
    position: absolute;
    top: 0;
    background-color: white;
    border-bottom: 1px solid black;

    .container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .header__box{
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;

            .Logo{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 30%;

                h5{
                    font-size: 25px;
                }
            }

            &-right{
                display: flex;
                width: 35%;
                justify-content: space-between;

                a{
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}