header {
    height: 120px;
    width: 100%;
    box-shadow: 0 0px 3px;
    position: absolute;
    top: 0;
    background-color: white;
    border-bottom: 1px solid black;
    z-index: 2;

    .container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .header__box{
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;

            .Logo{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 30%;
                z-index: 2;
                cursor: pointer;

                h5{
                    font-size: 25px;
                }
            }

            &-right{
                display: flex;
                width: 45%;
                justify-content: space-between;
                align-items: center;

                a{
                    color: black;
                    text-decoration: none;
                    cursor: pointer;
                }

                a:hover{
                    color: rgb(131, 131, 131);
                }
            }
        }
    }
}

.header-bg{
    width: 50%;
    height: 100%;
    position: absolute;
    left: -10%;
    z-index: 1;
    top: 0;
    background: url('/images/bg.svg') right/cover no-repeat;

}